@charset "UTF-8";

/* Layout (global rules for all sizes) */
body {margin: 0; padding: 0;}

header a.logo {
	display: block;
	position: absolute;
	margin-left:auto;
	margin-right:auto;
	background-repeat: no-repeat;
}

nav {
	width: 100%;
	display: block;
	position: fixed;
	background-color: #7ec9ee;
	margin-left:auto;
	margin-right:auto;
	height: 50px;
}

/* Layout Large Screens (default for older browsers) */

header {
	height: 650px;
	background-color: #7ec9ee;
}

header a.logo {
	width: 432px;
	height: 432px;
	top: 100px;
	right: 80%;
	left:  32%; 
	background-image: url(../images/logo_large.png);
}

article {padding: 60px 20px 10px 20px;}

p.about {line-height: 140%;	
		 width: 42%;
		 text-align:center;
		 text-transform: uppercase;
		 color: #72863E;
		 font-size: 2.5em; 
		 font-weight: bold;
		 margin-left: auto; 
		 margin-right:auto;
		 }
.flavors {line-height: 140%;	
		 width: 42%;
		 text-align:center;
		 text-transform: uppercase;
		 color: #e8f3ef;
		 font-size: 2em; 
		 font-weight: bold;
		 margin-left: auto; 
		 margin-right:auto;
		 }
.flavors li {text-align:center; list-style-position: inside;}

.promo_container { padding: 0px 0px 15px 20px; }
.promo_container .promo {
	width: 33%;
	float: left;
	background-position: 0px 3px;
}
.promo_container .promo .content { padding: 0px 30px 0px 70px; }

nav {
	top: 0px;
}
nav a {margin: 12px 0px 10px 112px; }

@media screen and (max-width: 990px) {
	footer {padding-left: 20px; }
}
